anyascii==0.3.2
asgiref==3.7.2
attrs==23.2.0
beautifulsoup4==4.11.2
certifi==2023.11.17
charset-normalizer==3.3.2
defusedxml==0.7.1
dj-database-url==2.1.0
Django==4.2.10
django-environ==0.11.2
django-filter==23.5
django-modelcluster==6.2.1
django-permissionedforms==0.1
django-taggit==4.0.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
drf-spectacular==0.27.0
environ==1.0
et-xmlfile==1.1.0
filetype==1.2.0
html5lib==1.1
idna==3.6
inflection==0.5.1
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
l18n==2021.3
lxml==5.1.0
openpyxl==3.1.2
pillow==10.2.0
pillow_heif==0.14.0
psycopg==3.1.17
psycopg2==2.9.9
python-docx==1.1.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.32.1
requests==2.31.0
rpds-py==0.16.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
telepath==0.3.1
typing_extensions==4.9.0
uritemplate==4.1.1
urllib3==2.1.0
wagtail==5.2.2
wagtail-content-import==0.11.0
wagtailmedia==0.14.5
webencodings==0.5.1
Willow==1.6.3
