{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block content %}
<div class="nice-padding">
<ul class="breadcrumb">
    {% trans 'Home' as home %}
    <li class="home"><a href="{% url 'wagtailadmin_home' %}">{% icon name="home" class_name="home_icon" title=home %}{% icon name="arrow-right" class_name="arrow_right_icon" %}</a></li>
    <li><a href="{{ view.index_url }}">{{ view.verbose_name_plural|capfirst }}</a></li>
</ul>
  <div class="row">
             <div class="left">
                 <div class="col header-title">
                     <h1>
                       {% icon name="form" class_name="header-title-icon" %}
                       {% blocktrans %}Upload JSON file{% endblocktrans %}
                     </h1>
                 </div>
             </div>
   <div class="right">
        <form action="/import/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="button">
        </form>
    </div>
    </div>
    </div>
{% endblock %}
