<tr class="folder-row has-children" 
    data-depth="{{ folder.depth }}"
    data-folder-id="{{ folder.id }}">
    <td class="title">
        <div style="padding-left: {% widthratio folder.depth 1 20 %}px">
            <span class="icon icon-arrow-down toggle-children"></span>
            <span class="icon icon-folder"></span>
            {{ folder.name }}
        </div>
    </td>
    <td>Folder</td>
    <td>-</td>
    <td>-</td>
    <td>{{ folder.updated_at|date:"d-M-Y" }}</td>
</tr>

{% for child_folder in folder.children.all %}
    {% include "admin/whatsapp_templates/_folder_row.html" with folder=child_folder %}
{% endfor %}

{% for template in folder.templates.all %}
    {% include "admin/whatsapp_templates/_template_row.html" with template=template %}
{% endfor %}