<tr class="template-row" 
    draggable="true"
    data-template-id="{{ template.id }}"
    data-folder-id="{{ template.folder.id|default:'' }}"
    data-depth="{% if template.folder %}{{ template.folder.depth|add:1 }}{% else %}0{% endif %}">
    <td class="title">
        <div style="padding-left: {% if template.folder %}{% widthratio template.folder.depth|add:1 1 20 %}{% else %}0{% endif %}px">
            <a href="{% url 'wagtailsnippets_home_whatsapptemplate:edit' template.id %}">
                <span class="icon icon-doc-empty"></span>
                {{ template.slug }}
            </a>
        </div>
    </td>
    <!-- Type -->
    <td>Template</td>
    <!-- Category -->
    <td>{{ template.get_category_display|default:"-" }}</td>
    <!-- Locale -->
    <td>{{ template.locale }}</td>
    <!-- Status -->
    <td>{{ template.get_submission_status_display|default:"-" }}</td>
    <!-- Last Modified -->
    <td>{{ template.get_latest_revision.created_at|date:"d-M-Y" }}</td>
</tr>