{% extends "wagtailadmin/admin_base.html" %}
{% load wagtailsettings_tags %}
{% get_settings %}


  {% block branding_favicon %}
      {% if settings.home.SiteSettings.favicon %}
        <link rel="shortcut icon" href={{settings.home.SiteSettings.favicon.url }} />
      {% else %}
        {{ block.super}}
      {% endif %}
  {% endblock %}
{% block branding_title %}
  {% if settings.home.SiteSettings.title %}
    {{ settings.home.SiteSettings.title }}
  {% else %}
    {{ block.super}}
  {% endif %}
{% endblock %}
