name: Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        postgres_version: ['14']
        python-version: [3.10.6]
        redis-version: ['7.2']
    services:
      postgres:
        image: postgres:${{ matrix.postgres_version }}
        env:
          POSTGRES_DB: contentrepo
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
      redis:
        image: redis:${{ matrix.redis-version }}
        ports:
          - 6379:6379
    env:
      CONTENTREPO_DATABASE: postgres://postgres:postgres@localhost:5432/contentrepo
      CACHE_URL: redis://localhost:6379/0

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - uses: abatilo/actions-poetry@v2.0.0
      with:
        poetry-version: "1.7.1"
    - name: Install dependencies
      id: install-deps
      run: |
        poetry install
    - name: Check formatting
      # Lints/tests should always run, even if other lints/tests have failed.
      if: success() || failure() && steps.install-deps.outcome == 'success'
      run: |
        poetry run black --check .
    - name: Lint
      if: success() || failure() && steps.install-deps.outcome == 'success'
      run: |
        poetry run ruff check .
    - name: Check types
      if: success() || failure() && steps.install-deps.outcome == 'success'
      run: |
        poetry run mypy
    - name: Run tests
      if: success() || failure() && steps.install-deps.outcome == 'success'
      run: |
        poetry run pytest -vv
